@use 'sass:list' as list;
@use './variables.scss' as var;
@use './templates.scss' as *;

@mixin flex-col($gap) {
   @extend %flex-col;
   gap: $gap;
}

@mixin flex($wrap, $gap...) {
   @extend %d-flex;

   @if ($wrap == wrap) {
      @extend %flex-wrap;
   } @else {
      flex-wrap: $wrap;
   }

   @if (list.length($gap) > 0) {
      gap: $gap;
   }
}